*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.dash{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    padding: 30px 50px 50px 50px;
}
.greeting{
    
    width:100%;
    border-radius: 10px;
    height:60px;
    margin-bottom:30px;
    color:#010322;
  
   
    

    
}
.summary{
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    margin-bottom:80px;
  
  
}



.summary-data{
    width:250px;
    height:120px;
    background-color:#fff;
    border-radius: 10px;
    margin-bottom:50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;

}
.summary-data img{
    width:30px;
}
.summary-data p{
    color:#8991c0;
}
.summary-data h3{
    margin: 0;
    padding: 0;
}

.chart{
    width:100%;
    height:450px;
    display: flex;
    justify-content: space-between;
  
    
  
}
.datachart{
    width:520px;
    height:450px;
    background-color:#fff;
    border-radius: 10px;
    margin-bottom:50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 12px 



}
.datachart .details-one{
    width:100%;
    height:30%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.datachart .details-one p{
    margin-bottom: 10px;
}


@media only screen and (max-width: 1500px) {
    .datachart{
        width: 450px;;
        height:400px;

    }
    
  }
@media only screen and (max-width: 1400px) {
    .datachart{
        width: 450px;;
        height:400px;

    }
    
  }


  @media only screen and (max-width: 1300px) {
    .datachart{
        width: 400px;;
        height:400px;

    }
    
  }

  
@media only screen and (max-width: 1000px) {
    .datachart{
        width: 300px;;
        height:350px;

    }
    
  }