.div_main{
    width: 100%;
    height: 100%;
    background-color:  #E5EAFF;
    display: flex;
    flex-direction: column;
}
.path{
    margin-top: 20px;
    font-family: "Poppins";
    color: 000000;
    margin-left: 40px;
}
.head{
    color: 010322;
    font-family: "Poppins";
    margin-left: 40px;
}
.div_form{
    width: 800px;
    height: 900px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;

}
.form_head{
    color:  #616785 ;
    font-family: "Poppins";
    font-size: 15px;
    margin-top: 10px;
    margin-left: 40px;
}
.profile_pic{
    width:250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 40px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    
  
 
}

.upload_option{
    width:100%;
    height:50px;
    background-color: #E5EAFF;
    margin-top: 40px;
    border:1px solid #FFFFFF;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins";
}
#photo{
    margin-top: 10px;
    margin-left: 10px;
    
}
.upload{
    width: 100%;
    height: 40px;

   
    margin-left: 100px;
    color: #616785 ;
    font-family: "Poppins";
}
.add_form{
    margin-top: 50px;
    margin-left: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px  ;
    column-gap: 50px;
    row-gap: 20px;
}
/* input {
    opacity: 0;
    z-index: -1;
    position: absolute;
  } */

  .myclass2 + label {
    font-size: 20px;
    /* font-weight: 700; */
    color: #616785;
    /* background-color:  #E5EAFF; */
    background-color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 290px;
    height: 30px;
  }
  
  .myclass2 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }  
  .myclass1 + label {
    font-size: 18px;
    color: #6c757d;
    font-family: "myFont";
    /* background-color:  #E5EAFF; */
    border-radius: 5px;
    display: inline-block;
    margin-left: 50px;margin-top: 10px;

  }
  
  .myclass1 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }  
.label{
    font-size: 14px;
    font-family: "Arial";
    color:#6c757d;
    margin-left: 10px;
    width: 100px;
    margin-top: 4px;
}
.button_div{
    display: flex;
    gap: 20px;

}
.save{
    width:80px;
    height: 50px;
    background-color: #010322;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}
.cancel{
    width:80px;
    height: 50px;
    background-color: #E5EAFF;
    border-radius: 10px;
    cursor: pointer;
}
.dept_options{
    border: 1px solid rgba(0, 0, 0, 0.25) ;
    color: #616785;
    width: 290px;
    height: 30px;
    border-radius: 5px;

}
select:focus{
    outline: none;
}
.error{
    color: red;
    font-size: 15px;
}

.add_form input{
    width:300px;
    height:35px;
    border: 1px solid #8991c0;
    border-radius: 10px;
    padding-left: 5px;
}
input::placeholder{
    color:#8991c0
}
input:focus{
    outline: none;
    
}
.add_form select{
    width:300px;
    height:35px;
    border: 1px solid #8991c0;
    border-radius: 10px;
    padding: 5px;


}
.add_form select{
    color:#9EA5CB;
}
.add_form select:focus{
    outline: none;

}
.add_form textarea{
    border: 1px solid #8991c0;
    border-radius: 10px;
    padding-left: 5px;

}
.textArea{

    grid-column-start: 1;
  grid-column-end: 3;
}
.option{
    color: black;
}