@import "@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css";
@import "react-calendar/dist/Calendar.css";


.box {
  
  
    width:100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    
   
  
  }
        

.addemployee{
    width:100%;
    background-color:#fff;
    border-radius: 10px;
    height:150px;
    margin-bottom:50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
   


   
    
  
    
    

}
.filter{
    width:100%;
    background-color:#fff;
    border-radius: 10px;
    height:80px;
    margin-bottom:50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content:space-around;
    align-items: center;
    
   
    

}
.employeedata{
    width:100%;
    border-radius: 10px;
    height:200px;
    background-color:#fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    
   
   


}
.one{
    width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#010322
    
    
}

.two{
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    align-self: center;
    justify-self: center;
    margin-right: 20px;
    cursor: pointer;
    
   
    
}
.two p{
    border: 1px solid #8991c0;
    padding: 10px;
}
#search{
    width:300px;
    height:35px;
    border: 1px solid #8991c0;
    border-radius: 10px;
    padding-left: 5px;


   
}
input::placeholder{
    color:#8991c0
}
.filter input:focus{
    outline: none;
    
}
.filter select{
    width:300px;
    height:35px;
    border: 1px solid #8991c0;
    border-radius: 10px;
    padding: 5px;


}
.filter select{
    color:#9EA5CB;
}
.filter select:focus{
    outline: none;

}
.option{
    color: black;
}
select option:hover {
    margin: 40px;
  

  
  }
  #date{
    border: 1px solid #8991c0;
    border-radius: 10px;

  }
  .react-daterange-picker__wrapper{
    width:300px;
    height:35px;
    border: 1px solid #8991c0;
    border-radius: 10px;

  }
  
  .react-daterange-picker__inputGroup__input{
    color:#8991c0;
  }
  .react-daterange-picker__inputGroup__input span{
    color:#8991c0
  }
.react-daterange-picker__inputGroup__divider span{
    color:#8991c0

}
.employee-grid{
    
    background-color:#fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height:350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    
}
.grid{
    display: grid;
    grid-template-columns: 350px 350px 350px ;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 0px;
    padding: 0;
}
ul{
    padding-left: 0;
}
.profile{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:200px;
    height: 200px;
   
}
.profile p{
    margin-bottom: 0;
    margin-top: 0;
    color:#8991c0
}
.imagee{
    width:100%;
    display: flex;
    flex-direction:row;align-items: center;
    justify-content: space-between;
  
    
    
   
}
.basic-details{
    width:250px;
    height: 120px;
    background-color: #d5dcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 12px;
   
}
.details-one{
    width:100%;
    height:50%;

    display: flex;
    justify-content:space-between;
}
.details-one p{
    margin: 0;
    color: #010322;
}
.details-two{
    width:100%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 5px;
  
}
.details-two p{
    margin-bottom: 0;
    color:#010322
}
.date-hired{
    text-align: right;
    font-size: 14px;
}
  .employeetable{
    padding: 10px;
  }
  .no-data{
    width:100%;
    height: 350px;
   
  }

  @media only screen and (max-width: 1500px) {
    .grid{
        display: grid;
        grid-template-columns: 300px 300px 300px ;
        column-gap: 100px;
        row-gap: 20px;
        
    }
    .profile{
        width:220px;
    }
    .basic-details{
        width:272px;
        height: 120px;

    }


  }

  
@media only screen and (max-width: 1400px) {
    .grid{
        display: grid;
        grid-template-columns: 300px 300px 300px ;
        column-gap: 40px;
        row-gap: 20px;
        
    }
    .basic-details{
        width:275px;
        height: 120px;
       
    }    
    .profile{
        width:250px;
    }
    
  }
  @media only screen and (max-width: 1300px) {
    .grid{
        display: grid;
        grid-template-columns: 280px 280px 280px ;
        column-gap: px;
        row-gap: 20px;
        
    }
    .profile{
        width:220px;
    }
    .basic-details{
        width:265px;
        height: 120px;

    }
}