.Sidebar{
  
  height: 100%; 
  width:  20%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:#010322; 
  overflow-x: hidden; 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;



}
/* h1{
    color:white
} */

.users{
    align-self: center;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border:#B4BCE5 1px solid;
    border-radius: 37px;
    height: 80px;
    width:270px;
    margin-bottom: 70px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}
.details{
    text-align: left;
}
.details h4{
    
    text-align: left;


}
.details p{
 
    color:yellow
   


}

.dashboard{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-basis: 80px;
    color:#E5EAFF;
    margin-bottom: 20px;
    margin-left: 50px;
    
    
}

.payroll{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 80px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.employees{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 80px;
    margin-bottom: 20px;
    margin-left: 50px;

}
.logout{
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 80px;
    margin-bottom: 20px;
    margin-left: 50px;

   
    
}

.link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:#E5EAFF;
    
    

    
   
   
}

span{
    margin-right: 10px;
}
 
@media only screen and (max-width: 1400px) {
    .link{
        text-decoration: none;
        font-size: 18px;
        font-family: 'Inter';
        
        
    }
    .dashboard{
        margin-bottom: 10px;

    }
    .payroll{
        margin-bottom: 10px;


    }
    .employees{
        margin-bottom: 10px;


    }
    .users{
        margin-bottom: 40px;
        width: 250px;
       
    }
}