#table_comp{
    width: 1150px;
    margin-left: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#table_head{
    background-color: #E5EAFF;
    
}
#table_row{
    padding-top: 10px;
    
}
@media only screen and (max-width: 1400px){
    #table_comp{
        width: 1000px;
      margin-left: 60px;
    }
    #salary_header{
        margin-left: 50px;
    }
}
